<div class="container">
    <header class="masthead">
        <h3 class="masthead-title">
            <a ui-sref="pages.index" title="Home">@answer1991</a>
        </h3>
        <ul class="nav">
            <li ng-repeat="nav in navs">
                <a ui-sref="pages.posts.list({path: nav.path})">
                    {{ nav.title }}
                </a>
            </li>
            <li ng-repeat="page in pages">
                <a ui-sref="pages.page({path: page.path})">
                    {{ page.title }}
                </a>
            </li>
        </ul>
    </header>
    <div class="body">
        <div ui-view></div>
    </div>
    <div class="footer">
        <p>
            Made with all the love in the world by <a href="https://github.com/answer1991">@answer1991</a>.
        </p>
        <p>
            Open sourced under MIT.
        </p>
        <p>
            Build with nodejs, Grunt, AngularJs.
        </p>
        <p>
            Style Design From <a href="https://twitter.com/mdo">@mdo</a>.
        </p>
        <ul class="quick-links">
            <li>
                <iframe class="github-btn"
                        src="http://ghbtns.com/github-btn.html?user=answer1991&amp;repo=answer1991.github.io&amp;type=watch&amp;count=true"
                        allowtransparency="true" frameborder="0" scrolling="0" width="112" height="20"></iframe>
            </li>
            <li>
                <iframe class="github-btn"
                        src="http://ghbtns.com/github-btn.html?user=answer1991&amp;repo=answer1991.github.io&amp;type=fork&amp;count=true"
                        allowtransparency="true" frameborder="0" scrolling="0" width="112" height="20"></iframe>
            </li>
        </ul>
    </div>
</div>